body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* 
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 1280;
  min-height: 100vh;
} */

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
